Repository googleapis/python-bigtable, pull requests merged in 2020-11, with the labels that each got.

#161 chore: clean up synth replacements
  synth.py
Labels: api: bigtable, cla: yes

#160 feat: Backup Level IAM
  google/cloud/bigtable/backup.py
  tests/unit/test_backup.py
Labels: api: bigtable, cla: yes, type: feature request

#157 feat: add 'timeout' arg to 'Table.mutate_rows'
  google/cloud/bigtable/table.py
  tests/unit/test_table.py
Labels: api: bigtable, cla: yes

#148 chore: configure BUILD_SPECIFIC_GCLOUD_PROJECT for samples CI
  .kokoro/samples/python3.6/common.cfg
  .kokoro/samples/python3.7/common.cfg
  .kokoro/samples/python3.8/common.cfg
  synth.metadata
Labels: api: bigtable, cla: yes, context: full, samples

#165 chore: tweak version lookup for non-admin client
  synth.py
Labels: api: bigtable, cla: yes

#168 tests: 'test_scale_bigtable', backoff when testing cluster node counts
  samples/metricscaler/metricscaler_test.py
  samples/metricscaler/requirements-test.txt
Labels: api: bigtable, cla: yes

#171 chore: update code of conduct (via synth)
  .kokoro/docs/common.cfg
  .kokoro/test-samples.sh
  CODE_OF_CONDUCT.md
  docs/conf.py
  google/cloud/bigtable_admin_v2/gapic/bigtable_instance_admin_client.py
  google/cloud/bigtable_admin_v2/gapic/bigtable_table_admin_client.py
  google/cloud/bigtable_v2/gapic/bigtable_client.py
  synth.metadata
Labels: api: bigtable, cla: yes, context: partial

#172 docs: update intersphinx mappings
  docs/conf.py
  synth.metadata
Labels: api: bigtable, cla: yes, context: full
