Repository googleapis/python-bigtable, pull requests merged in 2021-07, with the labels that each got.

#351 chore: remove 'test_utils' fossil
  test_utils/credentials.json.enc
  test_utils/scripts/circleci/get_tagged_package.py
  test_utils/scripts/circleci/twine_upload.sh
  test_utils/scripts/get_target_packages.py
  test_utils/scripts/get_target_packages_kokoro.py
  test_utils/scripts/run_emulator.py
  test_utils/scripts/update_docs.sh
  test_utils/setup.py
  test_utils/test_utils/__init__.py
  test_utils/test_utils/imports.py
  test_utils/test_utils/retry.py
  test_utils/test_utils/system.py
Labels: api: bigtable, cla: yes

#356 doc(samples): use operation to ensure creation completed
  samples/instanceadmin/instanceadmin.py
Labels: api: bigtable, cla: yes, samples

#355 chore: use templated 'noxfile.py'
  noxfile.py
  owlbot.py
  tests/system.py
Labels: api: bigtable, cla: yes

#358 tests: suppress deprecation warnings in unit test output
  google/cloud/bigtable/table.py
  tests/unit/test_table.py
Labels: api: bigtable, cla: yes

#359 fix: use public 'table_admin_client' property in backups methods
  google/cloud/bigtable/backup.py
  tests/system.py
  tests/unit/test_backup.py
Labels: api: bigtable, cla: yes

#362 test(samples): add backoff to cluster creation sample
  samples/instanceadmin/requirements.txt
  samples/instanceadmin/test_instanceadmin.py
Labels: api: bigtable, cla: yes, samples

#375 deps(samples): update google-cloud-bigtable to 2.3.1
  samples/hello/requirements.txt
  samples/instanceadmin/requirements.txt
  samples/metricscaler/requirements.txt
  samples/quickstart/requirements.txt
  samples/snippets/filters/requirements.txt
  samples/snippets/reads/requirements.txt
  samples/snippets/writes/requirements.txt
  samples/tableadmin/requirements.txt
Labels: api: bigtable, cla: yes, samples

#377 chore: pin 'google-{api,cloud}-core' to allow 2.x versions
  setup.py
Labels: api: bigtable, cla: yes

#374 chore: 'requirements.txt' is not a script
  samples/instanceadmin/requirements.txt
  samples/snippets/filters/requirements.txt
  samples/snippets/reads/requirements.txt
  samples/snippets/writes/requirements.txt
  samples/tableadmin/requirements.txt
Labels: api: bigtable, automerge, cla: yes, samples

#379 fix(deps): pin 'google-{api,cloud}-core', 'google-auth' to allow 2.x versions
  setup.py
Labels: api: bigtable, automerge, cla: yes

#382 fix: directly append to pb for better read row performance
  google/cloud/bigtable/row_set.py
Labels: api: bigtable, cla: yes

#384 chore(samples): increase timeouts for instance/cluster creation
  samples/instanceadmin/instanceadmin.py
Labels: api: bigtable, cla: yes, samples

#390 tests: split systest into a seperate Kokoro build
  .github/sync-repo-settings.yaml
  .kokoro/presubmit/presubmit.cfg
  .kokoro/presubmit/system-3.8.cfg
  owlbot.py
Labels: api: bigtable, cla: yes

#387 chore: modernize README
  README.rst
Labels: api: bigtable, cla: yes
