Repository googleapis/python-bigtable, pull requests merged in 2021-03, with the labels that each got.

#230 deps: update gapic-generator-python to 0.40.11
  google/cloud/bigtable_admin_v2/__init__.py
  google/cloud/bigtable_admin_v2/services/bigtable_instance_admin/async_client.py
  google/cloud/bigtable_admin_v2/services/bigtable_instance_admin/client.py
  google/cloud/bigtable_admin_v2/services/bigtable_table_admin/async_client.py
  google/cloud/bigtable_admin_v2/services/bigtable_table_admin/client.py
  google/cloud/bigtable_v2/services/bigtable/async_client.py
  synth.metadata
  tests/unit/gapic/bigtable_admin_v2/__init__.py
  tests/unit/gapic/bigtable_admin_v2/test_bigtable_instance_admin.py
  tests/unit/gapic/bigtable_admin_v2/test_bigtable_table_admin.py
  tests/unit/gapic/bigtable_v2/__init__.py
  tests/unit/gapic/bigtable_v2/test_bigtable.py
Labels: api: bigtable, cla: yes, context: partial

#234 build(python): enable flakybot on library unit and system tests
  .gitignore
  .kokoro/build.sh
  google/cloud/bigtable_admin_v2/__init__.py
  noxfile.py
  synth.metadata
Labels: api: bigtable, automerge, cla: yes, context: partial

#235 test: install pyopenssl for mtls testing
  google/cloud/bigtable_admin_v2/__init__.py
  noxfile.py
  synth.metadata
Labels: api: bigtable, cla: yes, context: partial

#238 chore: remove `google/cloud/bigtable.py`
  google/cloud/bigtable.py
Labels: api: bigtable, cla: yes

#239 fix: fix unit test that could be broken by user's environment
  tests/unit/test_client.py
Labels: api: bigtable, cla: yes

#240 fix(retry): restore grpc_service_config for CreateBackup and {Restore,Snapshot}Table
  google/cloud/bigtable_admin_v2/services/bigtable_table_admin/async_client.py
  google/cloud/bigtable_admin_v2/services/bigtable_table_admin/transports/base.py
  synth.metadata
Labels: api: bigtable, cla: yes, context: full

#242 chore: upstream deps regen
  google/cloud/bigtable_admin_v2/services/bigtable_instance_admin/client.py
  google/cloud/bigtable_admin_v2/services/bigtable_table_admin/client.py
  google/cloud/bigtable_admin_v2/types/__init__.py
  google/cloud/bigtable_v2/types/__init__.py
  synth.metadata
Labels: api: bigtable, cla: yes, context: partial

#246 fix: address issue in establishing an emulator connection
  google/cloud/bigtable/client.py
  noxfile.py
  tests/system.py
  tests/unit/test_client.py
Labels: api: bigtable, cla: yes

#248 chore: alphabetize class names
  google/cloud/bigtable_admin_v2/__init__.py
  synth.metadata
Labels: api: bigtable, cla: yes, context: none

#247 chore: add pre-commit-config to renovate ignore paths
  renovate.json
  synth.metadata
Labels: api: bigtable, cla: yes, context: full

#251 docs: add backup docs
  docs/backup.rst
  docs/usage.rst
  google/cloud/bigtable/table.py
Labels: api: bigtable, cla: yes

#273 chore: ignore noxfile in generation
  synth.py
Labels: api: bigtable, cla: yes
