Repository googleapis/python-bigtable, pull requests merged in 2021-04, with the labels that each got.

#276 deps: upgrade gapic-generator-python to 0.43.1
  google/cloud/bigtable_admin_v2/services/bigtable_instance_admin/async_client.py
  google/cloud/bigtable_admin_v2/services/bigtable_instance_admin/transports/base.py
  google/cloud/bigtable_admin_v2/services/bigtable_instance_admin/transports/grpc.py
  google/cloud/bigtable_admin_v2/services/bigtable_instance_admin/transports/grpc_asyncio.py
  google/cloud/bigtable_admin_v2/services/bigtable_table_admin/async_client.py
  google/cloud/bigtable_admin_v2/services/bigtable_table_admin/transports/base.py
  google/cloud/bigtable_admin_v2/services/bigtable_table_admin/transports/grpc.py
  google/cloud/bigtable_admin_v2/services/bigtable_table_admin/transports/grpc_asyncio.py
  google/cloud/bigtable_v2/services/bigtable/async_client.py
  google/cloud/bigtable_v2/services/bigtable/transports/base.py
  google/cloud/bigtable_v2/services/bigtable/transports/grpc.py
  google/cloud/bigtable_v2/services/bigtable/transports/grpc_asyncio.py
  synth.metadata
Labels: api: bigtable, cla: yes, context: full

#278 chore: use gcp-sphinx-docfx-yaml for docfx session
  noxfile.py
Labels: api: bigtable, automerge, cla: yes

#285 chore: add license headers
  .pre-commit-config.yaml
  docs/conf.py
  google/cloud/bigtable_admin_v2/__init__.py
  synth.metadata
Labels: api: bigtable, cla: yes, context: partial

#284 chore(deps): update samples to bigtable 2.0.0
  samples/beam/requirements.txt
  samples/hello/requirements.txt
  samples/instanceadmin/requirements.txt
  samples/metricscaler/requirements.txt
  samples/quickstart/requirements.txt
  samples/snippets/filters/requirements.txt
  samples/snippets/reads/requirements.txt
  samples/snippets/writes/requirements.txt
  samples/tableadmin/requirements.txt
Labels: api: bigtable, cla: yes, samples

#286 chore: update templates
  .github/header-checker-lint.yml
  google/cloud/bigtable_admin_v2/__init__.py
  renovate.json
  synth.metadata
Labels: api: bigtable, cla: yes, context: partial

#292 chore: prevent normalization of semver versioning
  setup.py
Labels: api: bigtable, cla: yes

#249 feat: customer managed keys (CMEK)
  google/cloud/bigtable/backup.py
  google/cloud/bigtable/cluster.py
  google/cloud/bigtable/encryption_info.py
  google/cloud/bigtable/enums.py
  google/cloud/bigtable/error.py
  google/cloud/bigtable/instance.py
  google/cloud/bigtable/table.py
  tests/system.py
  tests/unit/test_backup.py
  tests/unit/test_cluster.py
  tests/unit/test_table.py
Labels: api: bigtable, cla: yes

#291 build: use PyPI API token in secret manager
  .kokoro/release.sh
  .kokoro/release/common.cfg
  docs/_static/custom.css
  synth.metadata
Labels: api: bigtable, cla: yes, context: full

#296 chore(revert): Revert "chore: prevent normalization of semver versioning (#292)"
  setup.py
Labels: api: bigtable, automerge, cla: yes

#300 feat: backup restore to different instance
  google/cloud/bigtable/backup.py
  tests/system.py
  tests/unit/test_backup.py
Labels: api: bigtable, automerge, cla: yes
