Repository googleapis/python-bigtable, pull requests merged in 2021-09, with the labels that each got.

#393 tests: refactor systests into separate modules w/ pytest fixtures
  tests/system.py
  tests/system/__init__.py
  tests/system/_helpers.py
  tests/system/conftest.py
  tests/system/test_data_api.py
  tests/system/test_instance_admin.py
  tests/system/test_table_admin.py
Labels: api: bigtable, cla: yes

#422 chore: remove superseded owlbot replacements
  owlbot.py
Labels: api: bigtable, cla: yes

#426 chore: relocate owl bot post processor
  .github/.OwlBot.lock.yaml
  .github/.OwlBot.yaml
Labels: api: bigtable, cla: yes, automerge

#427 chore: drop six
  google/cloud/bigtable/row.py
  google/cloud/bigtable/row_data.py
  tests/unit/test_row.py
  tests/unit/test_table.py
Labels: api: bigtable, cla: yes

#395 chore(samples): add EC check to metricscalar instance setup
  samples/metricscaler/metricscaler_test.py
Labels: api: bigtable, cla: yes, samples
