Repository googleapis/python-bigtable, pull requests merged in 2022-04, with the labels that each got.

#541 chore: set up CI on v1 branch
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/unittest.yml
  .gitignore
  .kokoro/release.sh
  .kokoro/release/common.cfg
  docs/conf.py
  docs/snippets.py
  docs/snippets_table.py
  google/cloud/bigtable/cluster.py
  google/cloud/bigtable/row_data.py
  noxfile.py
  tests/system.py
  tests/unit/test_column_family.py
  tests/unit/test_instance.py
  tests/unit/test_row.py
  tests/unit/test_row_data.py
  tests/unit/test_row_filters.py
  tests/unit/test_table.py
Labels: api: bigtable, size: l

#552 chore: allow releases on previous major versions
  .github/release-please.yml
  owlbot.py
Labels: api: bigtable, size: s

#534 fix(deps): require google-api-core >= 1.31.5, >= 2.3.2 on v1 release
  setup.py
Labels: api: bigtable, size: xs

#554 fix: Prevent sending full table scan when retrying
  google/cloud/bigtable/row_data.py
  tests/unit/test_row_data.py
  tests/unit/test_table.py
Labels: api: bigtable, size: m

#560 docs: Add App Profile documentation
  docs/app-profile.rst
  docs/usage.rst
Labels: api: bigtable, size: xs

#549 feat: App Profile multi cluster routing support with specified cluster ids
  google/cloud/bigtable/app_profile.py
  google/cloud/bigtable/instance.py
  tests/system/test_instance_admin.py
  tests/unit/test_app_profile.py
Labels: api: bigtable, size: l
