Repository googleapis/python-bigtable, pull requests merged in 2022-08, with the labels that each got.

#619 perf: improve row merging
  google/cloud/bigtable/row_data.py
  tests/unit/test_row_data.py
  tests/unit/test_table.py
Labels: api: bigtable, automerge, size: s

#623 test: improve the row merging tests
  tests/unit/read-rows-acceptance-test.json
  tests/unit/test_row_data.py
  tests/unit/test_row_merger.py
Labels: api: bigtable, size: xl

#624 Fix: Retry the RST Stream error in mutate rows
  google/cloud/bigtable/row_data.py
  google/cloud/bigtable/table.py
  tests/unit/test_row_data.py
  tests/unit/test_table.py
Labels: api: bigtable, size: m

#631 fix(deps): allow protobuf < 5.0.0
  setup.py
  testing/constraints-3.7.txt
Labels: api: bigtable, automerge, size: xs

#633 chore: move row value classes out of row_data
  google/cloud/bigtable/row.py
  google/cloud/bigtable/row_data.py
Labels: api: bigtable, size: l

#628 perf: optimize row merging
  google/cloud/bigtable/row_data.py
  google/cloud/bigtable/row_merger.py
  tests/unit/test_row_data.py
  tests/unit/test_row_merger.py
Labels: api: bigtable, size: l
