Repository googleapis/python-bigtable, pull requests merged in 2022-11, with the labels that each got.

#697 fix: Prevent sending full table scan when retrying (backport #554)
  google/cloud/bigtable/row_data.py
  tests/unit/test_row_data.py
Labels: api: bigtable, size: s

#696 fix: make sure that the proper exception type is bubbled up for ReadRows
  google/cloud/bigtable/row_data.py
  tests/unit/test_row_data.py
Labels: api: bigtable, automerge, size: s

#699 fix: make internal rst_stream errors retriable
  google/cloud/bigtable/row_data.py
Labels: api: bigtable, size: s

#703 chore: Remove the dot from release please config filename
  release-please-config.json
Labels: api: bigtable, size: xs
