Repository googleapis/python-bigtable, pull requests merged in 2023-12, with the labels that each got.

#863 chore: optimize gapic calls
  google/cloud/bigtable_v2/services/bigtable/async_client.py
  google/cloud/bigtable_v2/services/bigtable/transports/grpc_asyncio.py
  tests/unit/data/_async/test_client.py
Labels: api: bigtable, size: m

#893 feat: Introduce compatibility with native namespace packages
  google/__init__.py
  google/cloud/__init__.py
  mypy.ini
  noxfile.py
  owlbot.py
  setup.py
  tests/unit/test_packaging.py
Labels: api: bigtable, size: m

#896 fix: mutations batcher race condition
  google/cloud/bigtable/batcher.py
  tests/system/conftest.py
  tests/system/test_data_api.py
Labels: api: bigtable, size: m

#899 fix: add lock to flow control
  google/cloud/bigtable/batcher.py
Labels: api: bigtable, size: s

#908 chore: add test for partial cell data
  tests/unit/test_row_data.py
Labels: api: bigtable, size: s

#902 chore: remove obsolete lines in .coveragerc
  .coveragerc
Labels: api: bigtable, size: xs

#903 chore: pin conformance tests to v0.0.2
  .github/workflows/conformance.yaml
Labels: api: bigtable, size: xs

#909 fix: bulk mutation eventual success
  google/cloud/bigtable/data/_async/_mutate_rows.py
  tests/system/data/test_system.py
  tests/unit/data/_async/test_client.py
Labels: api: bigtable, size: s
