Repository googleapis/python-bigtable, pull requests merged in 2023-04, with the labels that each got.

#752 feat: read rows query model class
  google/cloud/bigtable/__init__.py
  google/cloud/bigtable/read_rows_query.py
  tests/unit/test_read_rows_query.py
Labels: api: bigtable, size: l

#760 chore(samples): Fixed a typo in the readme
  samples/hello/README.md
Labels: api: bigtable, samples, size: xs

#753 feat: implement row and cell model classes
  google/cloud/bigtable/__init__.py
  google/cloud/bigtable/client.py
  google/cloud/bigtable/mutations.py
  google/cloud/bigtable/mutations_batcher.py
  google/cloud/bigtable/read_modify_write_rules.py
  google/cloud/bigtable/read_rows_query.py
  google/cloud/bigtable/row.py
  google/cloud/bigtable/row_response.py
  tests/unit/test_row.py
Labels: api: bigtable, size: xl
