Repository googleapis/python-bigtable, pull requests merged in 2023-06, with the labels that each got.

#767 feat: literal value filter
  google/cloud/bigtable/row_filters.py
  tests/system/test_system.py
  tests/unit/test_row_filters.py
Labels: api: bigtable, size: m

#796 fix: add a callback function on flush_rows
  google/cloud/bigtable/batcher.py
  tests/unit/test_batcher.py
Labels: api: bigtable, size: s

#778 feat: row_exists and read_row
  google/cloud/bigtable/client.py
  google/cloud/bigtable/read_rows_query.py
  tests/system/test_system.py
  tests/unit/test_client.py
  tests/unit/test_read_rows_query.py
Labels: api: bigtable, size: l

#780 feat: read_modify_write and check_and_mutate_row
  google/cloud/bigtable/client.py
  google/cloud/bigtable/mutations.py
  google/cloud/bigtable/read_modify_write_rules.py
  google/cloud/bigtable/row.py
  tests/system/test_system.py
  tests/unit/test_client.py
  tests/unit/test_mutations.py
  tests/unit/test_read_modify_write_rules.py
  tests/unit/test_row.py
Labels: api: bigtable, size: l

#766 feat: sharded read rows
  google/cloud/bigtable/__init__.py
  google/cloud/bigtable/client.py
  google/cloud/bigtable/exceptions.py
  google/cloud/bigtable/read_rows_query.py
  tests/system/test_system.py
  tests/unit/test_client.py
  tests/unit/test_exceptions.py
  tests/unit/test_read_rows_query.py
Labels: api: bigtable, size: xl

#810 feat: ping and warm with metadata
  google/cloud/bigtable/_helpers.py
  google/cloud/bigtable/client.py
  tests/system/test_system.py
  tests/unit/test__helpers.py
  tests/unit/test_client.py
Labels: api: bigtable, size: l

#770 feat: mutate rows batching
  google/cloud/bigtable/_mutate_rows.py
  google/cloud/bigtable/client.py
  google/cloud/bigtable/exceptions.py
  google/cloud/bigtable/mutations.py
  google/cloud/bigtable/mutations_batcher.py
  tests/system/test_system.py
  tests/unit/test__mutate_rows.py
  tests/unit/test_client.py
  tests/unit/test_exceptions.py
  tests/unit/test_mutations.py
  tests/unit/test_mutations_batcher.py
Labels: api: bigtable, size: xl

#819 feat: improve timeout structure
  .github/.OwlBot.lock.yaml
  google/cloud/bigtable/data/_async/_mutate_rows.py
  google/cloud/bigtable/data/_async/_read_rows.py
  google/cloud/bigtable/data/_async/client.py
  google/cloud/bigtable/data/_async/mutations_batcher.py
  google/cloud/bigtable/data/_helpers.py
  noxfile.py
  tests/unit/data/_async/test__mutate_rows.py
  tests/unit/data/_async/test__read_rows.py
  tests/unit/data/_async/test_client.py
  tests/unit/data/_async/test_mutations_batcher.py
  tests/unit/data/test__helpers.py
Labels: api: bigtable, size: l
