Repository googleapis/python-bigtable, pull requests merged in 2023-05, with the labels that each got.

#722 Feat: Threaded MutationsBatcher
  docs/batcher.rst
  docs/usage.rst
  google/cloud/bigtable/batcher.py
  google/cloud/bigtable/table.py
  tests/unit/test_batcher.py
Labels: api: bigtable, size: l

#773 fix: Revert "Feat: Threaded MutationsBatcher"
  docs/batcher.rst
  docs/usage.rst
  google/cloud/bigtable/batcher.py
  google/cloud/bigtable/table.py
  tests/unit/test_batcher.py
Labels: api: bigtable, automerge, size: l

#775 fix: Revert "fix: Revert "Feat: Threaded MutationsBatcher""
  docs/batcher.rst
  docs/usage.rst
  google/cloud/bigtable/batcher.py
  google/cloud/bigtable/table.py
  tests/unit/test_batcher.py
Labels: api: bigtable, size: l

#788 docs(samples): add region tags
  samples/hello/main.py
Labels: api: bigtable, samples, size: xs
