Repository googleapis/python-bigtable, pull requests merged in 2024-11, with the labels that each got.

#1033 fix: registering duplicate instance
  google/cloud/bigtable/data/_async/client.py
  tests/unit/data/_async/test_client.py
Labels: api: bigtable, size: s

#982 feat: surface `retry` param to `Table.read_row` api
  google/cloud/bigtable/table.py
Labels: api: bigtable, size: s

#1036 chore: remove custom routing metadata
  google/cloud/bigtable/data/_async/_mutate_rows.py
  google/cloud/bigtable/data/_async/_read_rows.py
  google/cloud/bigtable/data/_async/client.py
  google/cloud/bigtable/data/_helpers.py
  google/cloud/bigtable/data/execute_query/_async/execute_query_iterator.py
  google/cloud/bigtable_v2/services/bigtable/async_client.py
  owlbot.py
  tests/unit/data/_async/test__mutate_rows.py
  tests/unit/data/_async/test__read_rows.py
  tests/unit/data/_async/test_client.py
  tests/unit/data/test__helpers.py
Labels: api: bigtable, size: m

#999 chore: add cross_sync
  .cross_sync/README.md
  .cross_sync/generate.py
  .cross_sync/transformers.py
  google/cloud/bigtable/data/_cross_sync/__init__.py
  google/cloud/bigtable/data/_cross_sync/_decorators.py
  google/cloud/bigtable/data/_cross_sync/_mapping_meta.py
  google/cloud/bigtable/data/_cross_sync/cross_sync.py
  noxfile.py
  tests/system/cross_sync/test_cases/async_to_sync.yaml
  tests/system/cross_sync/test_cases/cross_sync_files.yaml
  tests/system/cross_sync/test_cases/rm_aio.yaml
  tests/system/cross_sync/test_cases/strip_async_conditional_branches.yaml
  tests/system/cross_sync/test_cases/symbol_replacer.yaml
  tests/system/cross_sync/test_cross_sync_e2e.py
  tests/unit/data/_cross_sync/test_cross_sync.py
  tests/unit/data/_cross_sync/test_cross_sync_decorators.py
Labels: api: bigtable, size: xl

#1030 chore(tests): clean up sample test tables
  samples/__init__.py
  samples/beam/__init__.py
  samples/beam/hello_world_write_test.py
  samples/hello/__init__.py
  samples/hello/async_main.py
  samples/hello/async_main_test.py
  samples/hello/main.py
  samples/hello/main_test.py
  samples/hello_happybase/__init__.py
  samples/hello_happybase/main.py
  samples/hello_happybase/main_test.py
  samples/quickstart/__init__.py
  samples/quickstart/main_async_test.py
  samples/quickstart/main_test.py
  samples/quickstart_happybase/__init__.py
  samples/quickstart_happybase/main_test.py
  samples/snippets/__init__.py
  samples/snippets/data_client/__init__.py
  samples/snippets/data_client/data_client_snippets_async_test.py
  samples/snippets/deletes/__init__.py
  samples/snippets/deletes/deletes_async_test.py
  samples/snippets/deletes/deletes_test.py
  samples/snippets/filters/filter_snippets_async_test.py
  samples/snippets/filters/filters_test.py
  samples/snippets/reads/reads_test.py
  samples/snippets/writes/writes_test.py
  samples/tableadmin/__init__.py
  samples/tableadmin/tableadmin.py
  samples/tableadmin/tableadmin_test.py
  samples/utils.py
Labels: api: bigtable, samples, size: xl

#1042 chore(build): Use python 3.10 for docs session
  noxfile.py
Labels: api: bigtable, size: xs
