Repository googleapis/python-bigtable, pull requests merged in 2024-05, with the labels that each got.

#961 doc: add samples for filtering using async apis
  samples/snippets/filters/filter_snippets_async.py
  samples/snippets/filters/filter_snippets_async_test.py
Labels: api: bigtable, samples, size: l

#964 chore(docs): improve docstrings in async classes
  google/cloud/bigtable/data/_async/_mutate_rows.py
  google/cloud/bigtable/data/_async/_read_rows.py
  google/cloud/bigtable/data/_async/client.py
  google/cloud/bigtable/data/_async/mutations_batcher.py
  google/cloud/bigtable/data/_helpers.py
  google/cloud/bigtable/data/exceptions.py
  google/cloud/bigtable/data/mutations.py
  google/cloud/bigtable/data/read_modify_write_rules.py
  google/cloud/bigtable/data/read_rows_query.py
  google/cloud/bigtable/data/row.py
  tests/unit/data/_async/test_client.py
Labels: api: bigtable, size: l

#966 chore(docs): improve write_batch async sample
  samples/snippets/data_client/data_client_snippets_async.py
Labels: api: bigtable, samples, size: s

#962 chore(docs): improve devsite structure
  docs/async_data_client/async_data_client.rst
  docs/async_data_client/async_data_exceptions.rst
  docs/async_data_client/async_data_mutations.rst
  docs/async_data_client/async_data_mutations_batcher.rst
  docs/async_data_client/async_data_read_modify_write_rules.rst
  docs/async_data_client/async_data_read_rows_query.rst
  docs/async_data_client/async_data_row.rst
  docs/async_data_client/async_data_row_filters.rst
  docs/async_data_client/async_data_table.rst
  docs/async_data_client/async_data_usage.rst
  docs/classic_client/app-profile.rst
  docs/classic_client/backup.rst
  docs/classic_client/batcher.rst
  docs/classic_client/client-intro.rst
  docs/classic_client/client.rst
  docs/classic_client/cluster.rst
  docs/classic_client/column-family.rst
  docs/classic_client/data-api.rst
  docs/classic_client/encryption-info.rst
  docs/classic_client/instance-api.rst
  docs/classic_client/instance.rst
  docs/classic_client/row-data.rst
  docs/classic_client/row-filters.rst
  docs/classic_client/row-set.rst
  docs/classic_client/row.rst
  docs/classic_client/snippets.py
  docs/classic_client/snippets_table.py
  docs/classic_client/table-api.rst
  docs/classic_client/table.rst
  docs/classic_client/usage.rst
  docs/index.rst
  docs/scripts/patch_devsite_toc.py
  noxfile.py
  owlbot.py
Labels: api: bigtable, size: s

#970 fix: improve backup name regex when listing backups
  google/cloud/bigtable/backup.py
Labels: api: bigtable, size: xs
