Repository googleapis/python-bigtable, pull requests merged in 2024-08, with the labels that each got.

#1009 chore: revert sync client customizations
  google/cloud/bigtable_v2/services/bigtable/client.py
  owlbot.py
Labels: api: bigtable, size: m

#1012 docs: add clarification around SQL timestamps
  google/cloud/bigtable/data/execute_query/metadata.py
  google/cloud/bigtable/data/execute_query/values.py
Labels: api: bigtable, size: xs

#1013 chore(python): revert docs build
  .github/.OwlBot.lock.yaml
  .kokoro/docker/docs/Dockerfile
  .kokoro/docker/docs/requirements.txt
  .kokoro/publish-docs.sh
  .kokoro/requirements.txt
Labels: api: bigtable, size: m

#1014 chore(docs): add execute query docs pages
  docs/async_data_client/async_data_execute_query_iterator.rst
  docs/async_data_client/async_data_execute_query_metadata.rst
  docs/async_data_client/async_data_execute_query_values.rst
  docs/async_data_client/async_data_usage.rst
  google/cloud/bigtable/data/_async/client.py
  google/cloud/bigtable/data/execute_query/_async/execute_query_iterator.py
  google/cloud/bigtable/data/execute_query/metadata.py
  google/cloud/bigtable/data/execute_query/values.py
Labels: api: bigtable, size: m

#984 chore(docs): add async note to docs
  README.rst
  docs/async_data_client/async_data_client.rst
  docs/async_data_client/async_data_table.rst
  docs/scripts/patch_devsite_toc.py
Labels: api: bigtable, size: s
