Repository googleapis/python-bigtable, pull requests merged in 2024-06, with the labels that each got.

#974 chore(docs): add missing quickstart samples for asyncio
  samples/quickstart/main_async.py
  samples/quickstart/main_async_test.py
Labels: api: bigtable, samples, size: m

#976 chore(tests): fix async filter sample tests
  samples/snippets/filters/filter_snippets_async.py
  samples/snippets/filters/filter_snippets_async_test.py
  samples/snippets/filters/filters_test.py
  samples/snippets/filters/noxfile.py
  samples/snippets/filters/requirements-test.txt
  samples/snippets/filters/requirements.txt
Labels: api: bigtable, samples, size: m

#973 chore(docs): add missing samples for async deletes
  samples/snippets/deletes/deletes_async_test.py
  samples/snippets/deletes/deletes_snippets_async.py
Labels: api: bigtable, samples, size: l

#975 chore(docs): update async data content in README
  README.rst
Labels: api: bigtable, size: xs

#979 fix: improve rowset revision
  google/cloud/bigtable/data/_async/_read_rows.py
  tests/unit/data/_async/test__read_rows.py
Labels: api: bigtable, size: m

#978 chore(docs): improve async docstrings
  google/cloud/bigtable/data/_async/client.py
  google/cloud/bigtable/data/mutations.py
  google/cloud/bigtable/data/read_modify_write_rules.py
  google/cloud/bigtable/data/read_rows_query.py
  google/cloud/bigtable/data/row.py
  samples/quickstart/main_async_test.py
  samples/quickstart/requirements-test.txt
  samples/quickstart/requirements.txt
  samples/snippets/deletes/deletes_async_test.py
  samples/snippets/deletes/requirements-test.txt
  samples/snippets/deletes/requirements.txt
Labels: api: bigtable, size: m

#977 feat: improve async sharding
  google/cloud/bigtable/data/_async/client.py
  tests/unit/data/_async/test_client.py
Labels: api: bigtable, size: m
