Repository googleapis/python-bigtable, pull requests merged in 2025-04, with the labels that each got.

#1109 fix: populate SQL app_profile_id header even when it is unset
  google/cloud/bigtable_v2/services/bigtable/async_client.py
  google/cloud/bigtable_v2/services/bigtable/client.py
  tests/unit/gapic/bigtable_v2/test_bigtable.py
  tests/unit/test_sql_routing_parameters.py
Labels: api: bigtable, size: m

#1111 chore: Removed old admin_v2 GAPIC layer
  google/cloud/bigtable_admin/__init__.py
  google/cloud/bigtable_admin/gapic_version.py
  google/cloud/bigtable_admin/py.typed
  google/cloud/bigtable_admin_v2/__init__.py
  google/cloud/bigtable_admin_v2/gapic_metadata.json
  google/cloud/bigtable_admin_v2/gapic_version.py
  google/cloud/bigtable_admin_v2/py.typed
  google/cloud/bigtable_admin_v2/services/__init__.py
  google/cloud/bigtable_admin_v2/services/bigtable_instance_admin/__init__.py
  google/cloud/bigtable_admin_v2/services/bigtable_instance_admin/async_client.py
  google/cloud/bigtable_admin_v2/services/bigtable_instance_admin/client.py
  google/cloud/bigtable_admin_v2/services/bigtable_instance_admin/pagers.py
  google/cloud/bigtable_admin_v2/services/bigtable_instance_admin/transports/README.rst
  google/cloud/bigtable_admin_v2/services/bigtable_instance_admin/transports/__init__.py
  google/cloud/bigtable_admin_v2/services/bigtable_instance_admin/transports/base.py
  google/cloud/bigtable_admin_v2/services/bigtable_instance_admin/transports/grpc.py
  google/cloud/bigtable_admin_v2/services/bigtable_instance_admin/transports/grpc_asyncio.py
  google/cloud/bigtable_admin_v2/services/bigtable_instance_admin/transports/rest.py
  google/cloud/bigtable_admin_v2/services/bigtable_instance_admin/transports/rest_base.py
  google/cloud/bigtable_admin_v2/services/bigtable_table_admin/__init__.py
  google/cloud/bigtable_admin_v2/services/bigtable_table_admin/async_client.py
  google/cloud/bigtable_admin_v2/services/bigtable_table_admin/client.py
  google/cloud/bigtable_admin_v2/services/bigtable_table_admin/pagers.py
  google/cloud/bigtable_admin_v2/services/bigtable_table_admin/transports/README.rst
  google/cloud/bigtable_admin_v2/services/bigtable_table_admin/transports/__init__.py
  google/cloud/bigtable_admin_v2/services/bigtable_table_admin/transports/base.py
  google/cloud/bigtable_admin_v2/services/bigtable_table_admin/transports/grpc.py
  google/cloud/bigtable_admin_v2/services/bigtable_table_admin/transports/grpc_asyncio.py
  google/cloud/bigtable_admin_v2/services/bigtable_table_admin/transports/rest.py
  google/cloud/bigtable_admin_v2/services/bigtable_table_admin/transports/rest_base.py
  google/cloud/bigtable_admin_v2/types/__init__.py
  google/cloud/bigtable_admin_v2/types/bigtable_instance_admin.py
  google/cloud/bigtable_admin_v2/types/bigtable_table_admin.py
  google/cloud/bigtable_admin_v2/types/common.py
  google/cloud/bigtable_admin_v2/types/instance.py
  google/cloud/bigtable_admin_v2/types/table.py
  google/cloud/bigtable_admin_v2/types/types.py
  tests/unit/gapic/bigtable_admin_v2/__init__.py
  tests/unit/gapic/bigtable_admin_v2/test_bigtable_instance_admin.py
  tests/unit/gapic/bigtable_admin_v2/test_bigtable_table_admin.py
Labels: api: bigtable, size: xl

#1114 refactor: Refactored classic client to use new Admin API
  google/cloud/bigtable/admin/gapic_version.py
  google/cloud/bigtable/admin_v2/gapic_version.py
  google/cloud/bigtable/app_profile.py
  google/cloud/bigtable/backup.py
  google/cloud/bigtable/client.py
  google/cloud/bigtable/cluster.py
  google/cloud/bigtable/column_family.py
  google/cloud/bigtable/enums.py
  google/cloud/bigtable/instance.py
  google/cloud/bigtable/table.py
  setup.py
  tests/system/data/setup_fixtures.py
  tests/system/data/test_system_async.py
  tests/system/data/test_system_autogen.py
  tests/unit/v2_client/test_app_profile.py
  tests/unit/v2_client/test_backup.py
  tests/unit/v2_client/test_client.py
  tests/unit/v2_client/test_cluster.py
  tests/unit/v2_client/test_column_family.py
  tests/unit/v2_client/test_instance.py
  tests/unit/v2_client/test_table.py
Labels: api: bigtable, size: l

#1116 fix: Made generate_consistency_token and check_consistency public methods
  google/cloud/bigtable/admin_v2/gapic_metadata.json
  google/cloud/bigtable/admin_v2/services/bigtable_table_admin/async_client.py
  google/cloud/bigtable/admin_v2/services/bigtable_table_admin/client.py
  google/cloud/bigtable/admin_v2/types/instance.py
  samples/generated_samples/bigtableadmin_v2_generated_bigtable_table_admin_check_consistency_async.py
  samples/generated_samples/bigtableadmin_v2_generated_bigtable_table_admin_check_consistency_sync.py
  samples/generated_samples/bigtableadmin_v2_generated_bigtable_table_admin_generate_consistency_token_async.py
  samples/generated_samples/bigtableadmin_v2_generated_bigtable_table_admin_generate_consistency_token_sync.py
  samples/generated_samples/snippet_metadata_google.bigtable.admin.v2.json
  tests/unit/gapic/admin_v2/test_bigtable_instance_admin.py
  tests/unit/gapic/admin_v2/test_bigtable_table_admin.py
Labels: api: bigtable, size: l
