Repository googleapis/python-bigtable, pull requests merged in 2025-05, with the labels that each got.

#1050 chore(docs): update `RowSet` to no longer reference deprecated `Table.yield_rows`
  google/cloud/bigtable/row_set.py
Labels: api: bigtable, size: xs

#1085 Re-add py-typed file for bigtable package
  google/cloud/bigtable/py.typed
Labels: api: bigtable, size: xs

#1115 chore: add owlbot rule to preserve app_profile_id header
  google/cloud/bigtable_v2/services/bigtable/async_client.py
  google/cloud/bigtable_v2/services/bigtable/client.py
  owlbot.py
  tests/system/data/test_system_async.py
  tests/system/data/test_system_autogen.py
  tests/unit/data/_async/test_client.py
  tests/unit/data/_sync_autogen/test_client.py
  tests/unit/gapic/bigtable_v2/test_bigtable.py
Labels: api: bigtable, size: m

#1107 feat: throw better error on invalid metadata response
  google/cloud/bigtable/data/execute_query/metadata.py
  tests/unit/data/execute_query/test_metadata.py
Labels: api: bigtable, size: s

#1117 feat: Consistency polling + restore table for sync client in admin
  google/cloud/bigtable/admin_v2/overlay/__init__.py
  google/cloud/bigtable/admin_v2/overlay/services/__init__.py
  google/cloud/bigtable/admin_v2/overlay/services/bigtable_table_admin/__init__.py
  google/cloud/bigtable/admin_v2/overlay/services/bigtable_table_admin/client.py
  google/cloud/bigtable/admin_v2/overlay/types/__init__.py
  google/cloud/bigtable/admin_v2/overlay/types/consistency.py
  google/cloud/bigtable/admin_v2/overlay/types/restore_table.py
Labels: api: bigtable, size: l

#1127 chore: update renovate.json
  owlbot.py
  renovate.json
Labels: api: bigtable, size: xs
